@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;900;900&display=swap');

:root {
  --foreground: 233, 233, 233;

  --background-50: 42, 42, 42;
  --background-100: 60, 60, 60;
  --background-200: 90, 90, 90;
  --background-300: 110, 110, 110;
  --background-400: 130, 130, 130;

  --primary-50: 4, 47, 46;
  --primary-100: 17, 94, 89;
  --primary-200: 13, 148, 136;
  --primary-300: 20, 184, 166;
  --primary-400: 45, 212, 191;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  overflow-x: hidden;
  background-color: rgb(var(--background-50));
  color: rgb(var(--foreground));
  max-width: 100vw;
}
